{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        hiccup/hiccup       {:mvn/version "2.0.0-alpha2"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

   :codox {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
           :exec-fn codox.main/generate-docs
           :exec-args {:name "Hiccup Server Components"
                       :source-paths ["src/ten_d_c"]
                       :metadata {:doc/format :markdown}
                       :output-path "../hiccup-server-components-api-docs/docs"
                       :html
                         {:transforms [[:body :div.sidebar.primary] [:substitute]

                                       [:body]
                                         [:append
                                           [:style ".sidebar {width: 250px !important; left: 0 !important;}
                                                    .namespace-docs {left: 250px !important;}"]]]}}}

   :build {:paths ["src"]
           :extra-deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}}
           :ns-default build}

   :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :remote
                        :sign-releases? false
                        :artifact "target/hiccup-server-components.jar"}}}}
